<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
</head>

<body>

<div th:fragment="products">

    <div class="panel-default well" th:each="product : ${products}">
        <div th:replace="fragments/product-body :: product"/>

        <br></br>
    </div>
</div>

</body>
</html>